@font-face {
	font-family: 'Lato-Regular';
	src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
	src: url(fonts/Lato-Bold.ttf)
}



* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
	background: none;
	outline: none;
	cursor: pointer;
    margin-left: 30px;
}

body {
    font-family: Lato-Regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

.container_top {

}

header {
    max-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #222;
    align-items: center;
    max-width: 100%;
        
}

.head_left_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}

.head_rigth_menu {
    margin-top: 26px;
    margin-bottom: 20px;
       
}

.burger-menu_button {
}

.black_them {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    
}

.burger-popover_close {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-link_button {
	background: transparent;
	border: 0;
	cursor: pointer;
}

.menu_active {
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #ffffff;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	width: 232px;
	min-height: 700px;
	right: 0;
	top: 75px;
	padding: 16px 16px 0 34px;
}

.burger-top_list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top-item_burger > a {
	font-size: 14px;
	line-height: 17px;
	color: #f16d7f;
	text-transform: uppercase;
}

.burger-inner_list {
	display: flex;
	flex-direction: column;
	gap: 11px;
	margin-top: 12px;
	margin-left: 22px;
}

.inner-item_burger > a {
	font-size: 14px;
	line-height: 17px;
	color: #6f6e6e;
	text-transform: capitalize;}


.hidden {
        display: none;
 }

.brand {
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    max-height: 764px;
    justify-content: space-between;
    max-width: 100%;
}

.brand_img {
    max-width: 50%;
    max-height: 100%;
}

.brand img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    border-left: 12px solid;
    border-color: #F16D7F;
    padding-left: 16px;
}

.h2color {
    color: #F16D7F;
}

.brand_left_text {
    min-width: 50%;
    display: flex;
    align-items: center;
    max-width: 50%;
}

.brand_left_text h1 {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.brand_left_text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}


main {
    max-width: 1140px;
    margin: 0 auto;
}

.offer  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 470px;
    gap: 30px;
    margin-top: 65px;
}

.offer_items {
    position: relative;
    text-align: center;
}

.offer_big {
    grid-area: 2 / 1 / 3 / 4;
    min-height: 180px;
    
}

.offer_big img {
    overflow: hidden;
    object-fit: cover;
    min-height: 100%;
}

.offer_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer_text h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.offer_text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
}

.product {
    margin-top: 96px;
}

.product_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_title h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product_title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-top: 6px;
}

.product_item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 48px;
}


.product_items_1 {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.prod__image_cont{
    position: relative;
}
.prod__image_cont:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);
  }
  .prod__image_cont:hover::before {
    background: rgba(58, 56, 56, 0.5);
  }
  .prod__image_cont img {
    display:block;
  }
  .prod__image_cont .btn {
    margin-left: 0;
    width: 138px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity:0;
    background: none;
    border: 1px solid #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  } 
  .prod__image_cont:hover button {   
    opacity: 1;
  }

.product_info {
    padding: 24px 16px;
}

.product_info h3 {
    font-family: Lato-Bold;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_info p {
    margin: 16px 0;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.prod_price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_all_prod {
    margin-top: 48.5px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_all_prod button {
    width: 211px;
    height: 47px;
    border: 1px solid #ff6a6a;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    background: none;
    margin-left: 0;
}

footer {
    max-width: 100%;
}

.featur_back {
    background: #222224;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;

}
.feat_1 {
    max-width: 360px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.featur_back h2 {
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 19px;
}

.featur_back p{
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.sub_menu {
position: relative;
min-height: 448px;    
background: url(/img/Footer_back.png) no-repeat;
}
.sub_menu:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(255, 255, 255, 0.7);
}

.sub_menu_op {
position: absolute;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 100%;
width: 100%;

}

.sub_left {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.sub_left p{
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.sub_right {
    max-width: 577px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.sub_right h2{
    color: #222224;
    text-align: center;
    font-family: Lato-Regular;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%; /* 40.128px */
}

.sub_right p{
    color: #222224;
    font-family: Lato-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}
.sub_right_text {
    display: flex;
    flex-direction: column;
    

}

.button_search form{
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.button_search input{ 
    margin: 0;
    width: 256px;
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	position: relative;
    z-index: 1;
	overflow: hidden;
    padding-left: 22px;
    border: none;
}


.button_search button{
    margin: 0;
    width: 100px;
    height: 49px;
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor:pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: middle;	
    padding-left: 15px;
    border: none;
} 

.theEnd{
    height: 79px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

.theEnd p {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    
}

.TheEnd_icon{
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    
}

.TheEnd_icon a{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.fa {
    width: 31px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
}

.fa:hover {
    background: #F16D7F;
    color: #FFFFFF;}


@media (max-width: 1024px) {

    body {
        max-width: 768px;
    }

    .container_top {
        
    }

    .brand {
        max-height: 368px;
    }

    .brand_left_text h1 {
        font-size: 44px;
    }
    
    .brand_left_text h2 {
        font-size: 24px;
    }

    main {
        max-width: 736px;
    }

    .offer {
        gap: 19px;
        max-height: 303px;

    }

    .offer_items {
        max-height: 167px;
    }

    .offer_big {
        min-height: 116px;
    }

    .product_item {
        gap: 16px;
    }

.featur_back {
    padding-top: 48px;
    padding-bottom: 64px;
}

    .sub_menu{

    }

    .sub_menu_op{
        flex-direction: column;
        
    }

    .featur_back {
        flex-direction: column;
        align-items: center;
    }

    .button_search {
        margin-bottom: 30px;
    }



}

@media (max-width: 767px){
    body {
        max-width: 375px;
        display: flex;
        /* flex-direction: column; */
        
    }

    header {
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 26px;
    }

    .brand {
        padding-left: 15%;
        padding-right: 15%;
    }


    .hidden_for_mobile {
        display: none;
    }

    .brand_left_text {
        max-width: 100%;
        height: 376px;
        align-items: center;
        justify-content: center;
    }

    .brand_left_text h1 {
        font-size: 38px;
    }
    .brand_left_text h2 {
        font-size: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        
    }

    .offer {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        padding: 32px;
        max-width: 343px;
        margin-top: 32px;
        min-height: 375px;
        max-height: none;
                
    }

    .offer_items {
        max-height: 249px;
        gap:32px;
        
    }

    .offer_text {
    }

    .offer_big {
        min-height: 111px;
        display: flex;
        

    }

    .offer img {
        overflow: hidden;
        object-fit: none;
    }

    .product {
        display: flex;
        flex-direction: column;
        margin: 0 8px;
        max-width: 359px;
                       
    }

    .product_title {
        
    }

    .product_item {
       
        
    }

    .sub_right_text {
        text-align: center;
    }

    .sub_right h2{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    .sub_right p{
        font-size: 14px;
    }
        

    .theEnd {
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 9px;
    }

    .TheEnd_icon{
        margin-bottom: 40px;
    }
}